@media screen and (max-width: $screen-sm) {
  .container > div > .row-detail-header {
    margin-top: 20px;
  }
}

.row-detail-header {
  margin-bottom: 30px;
  @media screen and (max-width: $screen-sm) {
    margin-bottom: 10px;

    .detail-header {
      overflow: visible;
      white-space: normal;

      .ant-tag {
        margin-top: 4px;
      }
    }

    .header-data {
      text-align: right;
    }
  }
}

.component-image {
  height: 80px;
  width: 80px;
}

.detail-header {
  align-items: baseline;
  margin: 0;
  padding: 0;
  .header-title {
    display: flex;
    align-items: center;
    max-width: 70%;
    h2 {
      margin: 0;
      padding: 0;
      font-size: 2.5em;
      max-width: 100%;
      margin-right: 30px;
      a {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
    }
    .header-data {
      display: flex;
      align-items: center;
    }
  }
  p {
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }
}

.score-header {
  margin: 0;
  padding: 0;
}

.fullDetaiView__modal {
  font-family: 'Montserrat', sans-serif !important;
  padding: 24px;
}

.curationSection {
  max-height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ant-modal-body {
  padding: 30px;
}
.ReactVirtualized__List {
  outline: none;
}

.file-list {
  .ant-table-row-collapsed,
  .ant-table-row-expanded {
    border: 0;
  }
  .ant-table-row-collapsed::after,
  .ant-table-row-expanded::after {
    content: '';
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    border-top: 8px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }

  .ant-table-row-collapsed::after {
    transform: scale(0.66666667) rotate(-90deg);
  }

  .ant-table-row-expanded::after {
    transform: scale(0.66666667) rotate(0deg);
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    border-bottom: 0;
    padding: 5px 0;
  }

  .ant-table-row-expand-icon {
    background: transparent;
  }
}

.detail-header {
  font-weight: bold;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    color: inherit;
  }
  a:hover,
  a:focus {
    color: $color_highlight;
  }
}

.ant-table-thead > tr > th .anticon-filter,
.ant-table-thead > tr > th .ant-table-filter-icon {
  position: relative;
}

.ant-table-thead > tr > th .anticon-filter > svg,
.ant-table-thead > tr > th .ant-table-filter-icon > svg {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
}

// specific selector to fix the 'Files' row in the Licensed section
@media screen and (max-width: $screen-sm) {
  .licensed-section > div:nth-child(4) .definition__line .list-singleLine {
    display: inline;
  }
}
