.row-detail-header {
  margin-bottom: 30px;
}
.detail-header {
  align-items: baseline;
  margin: 0;
  padding: 0;
  .header-title {
    display: flex;
    align-items: center;
    h2 {
      margin: 0;
      padding: 0;
      font-size: 2.5em;
      .header-data {
        display: flex;
        align-items: center;
      }
    }
  }
  p {
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }
}

.score-header {
  margin: 0;
  padding: 0;
}

.fullDetaiView__modal {
  font-family: 'Montserrat', sans-serif !important;
}

.curationSection {
  height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ReactVirtualized__List {
  outline: none;
}

.file-list {
  .ant-table-row-collapsed,
  .ant-table-row-expanded {
    border: 0;
  }
  .ant-table-row-collapsed::after,
  .ant-table-row-expanded::after {
    content: '';
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    border-top: 8px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }

  .ant-table-row-collapsed::after {
    transform: scale(0.66666667) rotate(-90deg);
  }

  .ant-table-row-expanded::after {
    transform: scale(0.66666667) rotate(0deg);
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    border-bottom: 0;
    padding: 5px 0;
  }

  .ant-table-row-expand-icon {
    background: transparent;
  }
}
