.get-involved-container {
  .get-involved-header {
    background: #121212;
    min-height: 381px;
    display: flex;
    align-items: center;
    .container {
      color: #fff;
      .header-block {
        max-width: 816px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        .sub-heading {
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 100%;
          text-align: center;
          letter-spacing: -0.02em;
          color: #ffffff;
          margin: 24px 0;
        }
        .title {
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 105%;
          text-align: center;
          letter-spacing: -0.02em;
          color: #ffffff;
          margin: 0 0 24px;
        }
        .description {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 125%;
          text-align: center;
          letter-spacing: -0.01em;
          color: #ffffff;
          max-width: 600px;
        }
      }
    }
    @media (max-width: 767px) and (min-width: 320px) {
      min-height: 300px;
      .container {
        .header-block {
          .sub-heading {
            font-size: 20px;
          }
          .title {
            font-size: 25px;
          }
          .description {
            font-size: 15px;
          }
        }
      }
    }
  }
  .get-involved-main {
    padding-bottom: 90px;
    @media (max-width: 767px) and (min-width: 320px) {
      padding-bottom: 10px;
    }
    .container {
      @media (max-width: 575px) and (min-width: 320px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .get-involved-wrapper {
      padding-top: 90px;
      @media (max-width: 767px) and (min-width: 0px) {
        padding-top: 0px !important;
      }
      .get-involved-side-content {
        .menu-title {
          @media (max-width: 767px) and (min-width: 320px) {
            display: none !important;
          }
          font-weight: 600;
          font-size: 18px;
          line-height: 105%;
          color: #121212;
        }
        .menu-list {
          margin-top: 22px;
          .lisitng {
            display: flex;
            align-items: center;
            padding-bottom: 16px;
            &.active .icon {
              position: relative;
              width: 16px;
              height: 24px;
              margin: auto 16px auto 0;
              .top-center {
                position: absolute;
                left: 0;
                top: 0;
                width: 8px;
                height: 8px;
                background: #121212;
              }
              .center-right {
                position: absolute;
                bottom: 33.33%;
                right: 0;
                width: 8px;
                height: 8px;
                background: #1d52d4;
              }
              .bottom-center {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 8px;
                height: 8px;
                background: #121212;
              }
            }
            .icon {
              position: relative;
              width: 16px;
              height: 24px;
              margin: auto 16px auto 0;
              .center-right {
                position: absolute;
                bottom: 33.33%;
                right: 0;
                width: 8px;
                height: 8px;
                background: #e5e5e5;
              }
            }
            &.active > span {
              font-family: Inter;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 125%;
              display: flex;
              align-items: center;
              letter-spacing: -0.01em;
            }
            & > span {
              font-family: Inter;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 125%;
              display: flex;
              align-items: center;
              letter-spacing: -0.01em;
              color: #121212;
            }
          }
        }
        .menu-list-desktop {
          @media (max-width: 767px) and (min-width: 320px) {
            display: none !important;
          }
        }
        .menu-list-mobile {
          display: none;
          @media (max-width: 767px) and (min-width: 320px) {
            display: block !important;
            padding-bottom: 20px;
            .ant-collapse-header {
              padding-left: 20px;
            }
            .ant-collapse-arrow {
              left: 0;
            }
          }
          .menu-mobile-title {
            border: 0px;
            font-weight: 600;
            font-size: 18px;
            line-height: 105%;
            color: #121212;
          }
          .menu-collapse {
            border: 0px;
            background: transparent;
            .ant-collapse-content {
              background: transparent;
            }
          }
        }
      }
      .get-involved-main-content {
        color: #121212;
        .menu-title {
          font-weight: 600;
          font-size: 32px;
          line-height: 105%;
          letter-spacing: -0.02em;
        }
        .menu-discription {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 150%;
          letter-spacing: -0.01em;
        }
        .menu-small-title {
          font-weight: 600;
          font-size: 24px;
        }
        .menu-code {
          border: 2px solid #e3e4e6 !important;
          border-radius: 6px;
          padding: 10px;
          background-color: #eff0f2;
          color: #3c3c3c;
        }
        .menu-list-items {
          li {
            font-size: 18px;
            line-height: 150%;
            letter-spacing: -0.01em;
          }
        }
      }
    }
  }
  .community-item-container {
    padding-top: 60px;
    background: #121212;
    .title {
      text-align: center;
      font-weight: 600;
      font-size: 32px;
      color: #ffffff;
      padding-bottom: 30px;
    }
    .community-items {
      border-bottom: 1px solid #4a4a4a;
      padding-bottom: 20px;
      .community-item {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        img {
          width: 50px;
          height: 69px;
        }
        .community-item-name {
          padding-top: 30px;
          padding-bottom: 20px;
          font-weight: 600;
          font-size: 18px;
          color: #ffffff;
        }
        .community-item-discription {
          font-size: 14px;
          line-height: 150%;
          color: #ffffff;
          letter-spacing: -0.01em;
          min-height: 63px;
        }
        a {
          font-family: Inter;
          font-size: 14px;
          text-decoration-line: underline;
          color: #ffffff;
        }
      }
    }
  }
}
