.popoverRenderer {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}
.popoverRenderer__container {
  width: 500px;
}
.popoverRenderer__title,
.popoverRenderer__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popoverRenderer__title__buttons,
.popoverRenderer__items__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.popoverRenderer__items__formGroup {
  margin-bottom: 0px;
}
.popoverRenderer__items__value {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.popoverRenderer__items__value--isEdited {
  color: $color_red;
}
.popoverRenderer__items__formControl {
  width: 200px;
}
.popoverRenderer_scrollY {
  .list-singleLine {
    overflow: visible;
  }

  .popoverRenderer__items__value {
    overflow: visible;
  }
}

.popoverSpan {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}




// ----------------------------------------
// Modal
// ----------------------------------------

.modal-backdrop {
  background: #121212;

  &.fade.in {
    opacity: .75;
  }
}

.modal-dialog {
  font-size: 14px;
  top: 50%;
  margin: 0 auto;

  h4 {
    font-size: 16px;

    @media screen and (min-width: $screen-md) {
      font-size: 20px;
    }
  }
}

.modal.show .modal-dialog {
  transform: translate3d(0, -50%, 0) !important;
}


/* quick edit model  */
.clearly-model .modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 10px;
  outline: 0;
  padding: 22px 22px 0 22px; }

.model-header {
  position: relative; }

.model-close-btn {
  position: absolute;
  top: -10px;
  right: 1px;
  color: #000;
  cursor: pointer; }

.model-header h4 {
  font-weight: 650; }

.clearly-model-footer {
  display: flex;
  border-top: 1px solid #dfe5ee;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0 12px 0; }

.model-btn {
  border-radius: 50px;
  padding: 4px 14px;
  border: 1px #dfe5ee solid;
  display: inline-block;
  width: max-content; }

.model-label {

}

.clearly-model-body {
  padding: 28px 0 16px;

  .form-group {
    padding-bottom: 12px;
  }

  label {
    font-size: 14px;
    font-weight: 400;
    color: #4A4A4A;
    text-align: right;
  }
  input {
    color: #121212;
    font-size: 14px;
    height: 36px;
    border-radius: 4px;
  }
}

.model-input {
  width: 50%;
  border: 1px solid #dfe5ee;
  border-radius: 4px; }

.model-input::placeholder {
  color: #dfe5ee;
  font-size: 14px;
  font-weight: 400; }


button.modal__btn,
.modal__btn {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 48px;
  border-radius: 50px;
  font-weight: 500;
  color: $white;
  background: $brand;
  border: 1px solid $brand;
  font-size: 14px;
  transition: all $trans;

  &:hover {
    background: transparent;
    color: $brand;
  }
}

button.modal__btn--secondary,
.modal__btn--secondary {
  border: 1px solid #DFE5EE;
  color: $black;
  background: transparent;

  &:hover {
    background: #DFE5EE;
    color: $black;
  }
}


.fade.in.modal {
  opacity: 1 !important;
}
