.ScoreRenderer {
  width: 100%;
  padding: 10px;
  h2 {
    color: white;
    font-size: 16px;
  }
  .ScoreInfo {
    font-size: 12px;
    text-decoration: underline;
    width: 100%;
    text-align: right;
    a {
      color: white;
    }
  }
  .ScoreRenderer__domain {
    display: flex;
    width: 400px;
  }
  .ScoreRenderer__domain__section {
    padding: 10px;
    width: 100%;
    p {
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
  }
  .unit {
    font-size: 12px;
  }
}
.ant-tooltip-inner {
  background-color: rgba(0, 0, 0, 0.9);
  width: 400px !important;
}
