.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .user-card-body {
    .user-card-name {
      font-size: 2rem;
    }

    .user-card-position-name {
      font-size: 1.5rem;
    }
  }

  .user-card-stats {
    font-size: 1rem;
  }
}
