.version-selector {
  .modal-header {
    padding: 15px;
    display: block;
  }
  button.close {
    border: 0;
  }
  .close {
    color: #000;
    filter: alpha(opacity=20);
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    opacity: .2;
    text-shadow: 0 1px 0 #fff;
  }  
}
.select-in-modal.ant-select-dropdown {
  z-index: 1100;
}